@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "CygreBlack";
  src: url("/fonts/CygreBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
